<h1>Login</h1>
<hr />

<%= form_with url: sessions_path, method: :post do |form| %>
  
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, placeholder: "Enter your username", required: 'required' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "Enter your password", required: 'required' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Sign up', new_user_path %>
