<%= form_with url: sessions_path, method: :post, html: {class: 'user-form pt-4'} do |form| %>
  
  <div class="field form-group col-sm-12 px-3 mb-3">
    <%= form.label :username, class: "control-label" %>
    <%= form.text_field :username, placeholder: "Enter your username", required: 'required', class: "form-control" %>
  </div>

  <div class="field form-group col-sm-12 px-3 mb-5">
    <%= form.label :password, class: "control-label" %>
    <%= form.password_field :password, placeholder: "Enter your password", required: 'required', class: "form-control" %>
  </div>

  <div class="actions mx-2 mb-2">
    <%= form.submit 'Login', class: "btn btn-success submit-buttons mb-2" %>
  </div>
<% end %>

<div class="sign-up-button">
  <%= link_to 'Sign up', new_user_path, class: "submit-buttons" %>
</div>