<%= form_with(model: position, html: {class: 'applicant-form'}) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
        <% position.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-sm-12 px-2">
    <%= form.label :name, class: "control-label"  %>
    <%= form.text_field :name, class: "form-control" %> 
  </div>
  
  <div class="fieldform-group col-sm-12 px-2">
    <%= form.label 'Required skills', class: "form-check-label d-block" %>
    <%= form.collection_check_boxes(:skill_id, Skill.all(), :id, :name,) do |b| %>
     <%= b.label class:"form-check-label" do%> 
        <%= b.check_box(checked: @defaults.include?(b.value), class:"form-check-input") + " #{b.text}" %>
      <% end %>
    <% end %>
  </div>

  <div class="actions mx-2 my-4">
    <%= form.submit class: "btn btn-success submit-buttons" %>
  </div>
<% end %>


