<p id="notice"><%= notice %></p>

<h1>All Positions</h1>
<hr />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Skills</th>
      <th>Applicants</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.name %></td>
        <td><%= position_skills position %></td>
        <td><%=  "#{ applicants_no position } applicants" %></td>
        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position', new_position_path %>
