<p id="notice"><%= notice %></p>

<h1>Applicants</h1>
<hr />

<p>
  <strong>Name:</strong>
  <%= @position.name %>
  <br />
  <strong>Skills:</strong>
  <%= (@position.skills.map {|skill| "##{skill.name}"}).join(', ') %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= "#{candidate.fname} #{candidate.lname}" %></td>
        <td><%= link_to 'Show', candidate %></td>
      </tr>
    <% end %>
  </tbody>
</table>