<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
  <br />
  <strong>Skills:</strong>
  <%= (@position.skills.map {|skill| "##{skill.name}"}).join(', ') %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
