<p id="notice"><%= notice %></p>

<h1><%= @position.name %></h1>

<p>
  <strong>Skills:</strong>
  <%= position_skills @position %>
</p>

<hr />

<h4>Applicants</h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Matched</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%  @position.candidates.each do |candidate| %>
      <tr>
        <td><%= "#{candidate.fname} #{candidate.lname}" %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.matched %></td>
        <td><%= link_to 'Show', candidate %></td>
      </tr>
    <% end %>
  </tbody>
</table>