<p id="notice"><%= notice %></p>

<h1>Interview</h1>

<p>
  <strong>Interview date:</strong>
  <%= @interview.interview_date %>
</p>

<p>
  <strong>Status:</strong>
  <% if(@interview.closed) %>
    Closed
  <% else %>
    Opened
  <% end %>
</p>

<%= link_to("Cancel interview", interview_path(:cancel => true), method: :put, query: "ruby on rails") unless(@interview.closed)  %>

<hr />

<h4>Candidate</h4>

<p>
  <strong>Name:</strong>
  <%= "#{@interview.candidate.fname} #{@interview.candidate.lname}" %>
</p>

<p>
  <strong>Email:</strong>
  <%= @interview.candidate.email %>
</p>

<p>
  <strong>Angelist:</strong>
  <%= @interview.candidate.angelist %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @interview.candidate.linkedin %>
</p>

<p>
  <strong>Position:</strong>
  <%= @interview.candidate.position.name %>
</p>

<% if(!@interview.score.nil?) %>
  <p>
    <strong>Score:</strong>
    <%= "#{@interview.score.experience + @interview.score.dynamism + @interview.score.interest + @interview.score.enthusiasm + @interview.score.technical_skill}%"  %>
  </p>
<% end %>

<hr />

<h4>Recruiter</h4>

<p>
  <strong>Name:</strong>
  <%= @interview.recruiter.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @interview.recruiter.email %>
</p>

<hr />

<% if(@interview.closed) %>
    <h4>The interview have been closed</h4>
  <% else %>
    <h4>Applicant scorecard (set range between 1 - 10 points)</h4>

    <%= render 'form', score: @score %>
  <% end %>