<%= form_with(model: user, html: {class: 'user-form pt-3'}) do |form| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field form-group col-sm-12 px-2">
    <%= form.label :username, class: "control-label" %>
    <%= form.text_field :username, placeholder: "Enter your username", required: 'required', class: "form-control" %>
  </div>

  <div class="field form-group col-sm-12 px-2">
    <%= form.label :password, class: "control-label"  %>
    <%= form.password_field :password, placeholder: "Enter your password", required: 'required', class: "form-control" %>
  </div>

  <div class="actions mx-2 my-4">
    <%= form.submit class: "btn btn-success submit-buttons" %>
  </div>
<% end %>