<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Matching</h1>
<hr />

<p>
  <strong>First name:</strong>
  <%= @candidate.fname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @candidate.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Angelist:</strong>
  <%= @candidate.angelist %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @candidate.linkedin %>
</p>

<p>
  <strong>Position:</strong>
  <%= @candidate.position.name %>
</p>

<p>
  <strong>Matched:</strong>
  <%= @candidate.matched %>
</p>

<p>
  <strong>Skills:</strong>
  <%= (@candidate.position.skills.map {|skill| "#{skill.name}"}).join(', ') %>
</p>

<hr />

<% if(@candidate.matched) %>
  <p>
    <strong>This candidate has already been matched</strong>

  </p>
<% else %>
  <p>
    <strong>Suggested recruiters with the matching skills:</strong>

    <%= form_with(model: @interview) do |form| %>
      <%= form.hidden_field :candidate_id, value: "#{@candidate.id}" %>
      
      <%= form.collection_radio_buttons(:recruiter_id, @candidate.position.recruiters, :id, :name,) do |b| %>
        <%= b.label { b.radio_button(checked: @defaults.include?(b.value)) + b.text } %>
      <% end %>

      <%= form.text_field :interview_date, class: "datetimepicker" %>

      <div class="actions">
        <%= form.submit 'Match the applicant' %>
      </div>
    <% end %>

  </p>
<% end %>


<%= javascript_include_tag 'jquery'%>
<%= javascript_include_tag 'jquery.datetimepicker.full.min'%>
<%= javascript_include_tag 'datepicker'%>
