<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Matching</h1>
<hr />

<p>
  <strong>First name:</strong>
  <%= @candidate.fname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @candidate.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Angelist:</strong>
  <%= @candidate.angelist %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @candidate.linkedin %>
</p>

<p>
  <strong>Position:</strong>
  <%= @candidate.position.name %>
</p>

<p>
  <strong>Matched:</strong>
  <%= @candidate.matched %>
</p>

<p>
  <strong>Skills:</strong>
  <%= candidate_skills @candidate %>
</p>

<hr />

<p><%= schedule_interview_card @candidate %></p>

<%= javascript_include_tag 'jquery'%>
<%= javascript_include_tag 'jquery.datetimepicker.full.min'%>
<%= javascript_include_tag 'datepicker'%>
