<%= form_with(model: recruiter) do |form| %>
  <% if recruiter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruiter.errors.count, "error") %> prohibited this recruiter from being saved:</h2>

      <ul>
        <% recruiter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label 'Assign Position' %>
    <%= form.collection_check_boxes(:position_id, Position.all(), :id, :name,) do |b| %>
      <%= b.label { b.check_box(checked: @defaults.include?(b.value)) + b.text } %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
