<p id="notice"><%= notice %></p>

<h1>Recruiters</h1>
<hr />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recruiters.each do |recruiter| %>
      <tr>
        <td><%= recruiter.name %></td>
        <td><%= recruiter.email %></td>
        <td><%= recruiter.position %></td>
        <td><%= link_to 'Show', recruiter %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recruiter', new_recruiter_path %>
