<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recruiter.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @recruiter.email %>
</p>

<p>
  <strong>Position:</strong>
  <%= @recruiter.position %>
</p>

<%= link_to 'Edit', edit_recruiter_path(@recruiter) %> |
<%= link_to 'Back', recruiters_path %>
