<p id="notice"><%= notice %></p>

<h1><%= @recruiter.name %></h1>

<p>
  <strong>Email:</strong>
  <%= @recruiter.email %>
</p>

<hr />

<table class="table table-hover">
  <thead>
    <tr>
      <th>Assigned positions</th>
    </tr>
  </thead>
  <tbody>
    <% @recruiter.positions.each do |position| %>
        <tr>
          <td><%= position.name %></td>
        </tr>
      <% end %>
    </tbody>
  </tbody>
</table>

<%= link_to 'Edit', edit_recruiter_path(@recruiter) %> |
<%= link_to 'Destroy', @recruiter, method: :delete, data: { confirm: 'Are you sure?' } %>
