<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recruiter.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @recruiter.email %>
</p>

<p>
  <strong>Assigned positions:</strong>
  <%= (@recruiter.positions.map {|position| "#{position.name}"}).join(', ') %>
</p>

<%= link_to 'Edit', edit_recruiter_path(@recruiter) %> |
<%= link_to 'Destroy', @recruiter, method: :delete, data: { confirm: 'Are you sure?' } %>
