<!DOCTYPE html>
<html>
  <head>
    <title>RecruitR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= navbar %>
    </header>

    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    
    <main>
      <section class="container-fluid d-flex p-0">
        <div class="col-12 col-md-2">
          <ul class="nav flex-column side-nav-bar">
            <li class="nav-item">
              <%= link_to 'Home', positions_path, class: 'nav-link active'  %>
            </li>
            <li class="nav-item">
            <%= link_to 'Interviews', interviews_path, class: 'nav-link'  %>
            </li>
            <li class="nav-item">
              <%= link_to 'Candidates', candidates_path, class: 'nav-link'  %>
            </li>
            <li class="nav-item">
              <%= link_to 'Recruiters', recruiters_path , class: 'nav-link'  %>
            </li>
            <li class="nav-item">
              <%= link_to 'Skills', skills_path , class: 'nav-link'  %>
            </li>
          </ul>
        </div>
        
        <div class="col-12 col-md-9 py-3 px-5">
            <%= yield %>
        </div>
      </section>
    </main>

    <footer class="footer">
      <p>Copyright - 2021</p>
    </footer>
  </body>
</html>